/* hamburger-menu menu styles */
:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 28px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

  --nav-aside-width: 300px;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: 1rem;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 10px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  background-color: #9c2a29;
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  background-color: #9c2a29;
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.navbar {
  transition: translate var(--animation-timing);
  padding: 0.5rem 1rem 0.5rem 0;
  max-width: 15rem;
  min-height: 95vh;
}

.hamburger-menu:has(input:checked) + .main__content {
  width: var(--nav-aside-width);
  max-width: 300px;
}

.hamburger-menu:has(input:checked) + .main__content {
  width: 10rem;
}

.hamburger-menu input[type="checkbox"]:checked ~ .main__aside {
  width: 10rem;
}

.hamburger-menu input[type="checkbox"]:checked ~ .main__content {
  width: 30%;
  min-width: 300px;
  max-width: 300px;
}

/* media queries for hamburger below */
@media (min-width: 1333px) {
  .main__layout {
    transform: 0;
    transform: translateX(0);
    transition: transform var(--animation-timing);
  }

  .main__title {
    visibility: visible;
    transition: visibility var(--animation-timing),
      opacity var(--animation-timing) linear;
  }

  .navbar {
    transform: translateX(0);
    translate: 0;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1332px) {
  .main__aside {
    transform: translateX(calc(var(--nav-aside-width) * -1));
  }
  .main__title {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .main__content {
    padding-top: 0;
    transition: padding 0.2s linear;
    padding-top: calc(
      var(--hamburger-height) + var(--hamburger-margin) + 0.25rem
    );
    transform: translateX((calc(var(--nav-aside-width) * -1) + 5px));
    position: absolute;
  }
}

.main__layout {
  transition: transform 0.5s ease-in-out;
}

.main__layout--open {
  transform: translateX(var(--nav-aside-width));
  transition: transform 0.5s ease-in-out;
  background-color: none;
}

.main__layout--open > .main__aside {
  transform: translateX(calc(var(--nav-aside-width) * -1));
  transition: transform 0.5s ease-in-out;
  background: none;
  overflow: visible;
}

.main__layout--open > .main__content {
  width: auto;
}

.main__layout--open + .main .hamburger-menu > div:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.main__layout--open + .main .hamburger-menu > div:nth-child(2) {
  opacity: 0;
}

.main__layout--open + .main .hamburger-menu > div:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
