/* :root {
  --aside-width: 30%;
} */

.main__layout {
  display: flex;
  width: 98vw;
}

.main__aside {
  /* width: 300px; */
  width: 30%;
  max-width: 300px;
  overflow: auto;
  height: auto;
  padding: 0;
  transition: width 0.5s;
}

/* effectively remove <Outlet /> div from layout */
.main__layout .main__content > div {
  display: contents;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  flex-grow: 1;
  padding: 0 0 2rem 0.5rem;
  background-color: var(--main-background-color);
  transform: translateX(0);
  transition: transform 0.5s;
  width: 98%;
}

.main__title {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 0.8rem;
}

/* add specivity here to stop it being overridden by the earlier remove <Outlet /> css */
.main__layout .main__content > .inner-page {
  display: block;
  text-align: left;
  visibility: visible;
  width: auto;
  margin-right: 2rem;
}

.home-page__content {
  text-align: center;
  padding: 0;
  width: 90vw;
  max-width: 1087px;
  overflow: auto;
  min-height: 20px;
}

.home-page__content__link {
  font-size: 1.4rem;
}

.inner-page {
  width: 95vw;
}

.inner-page__title {
  font-size: clamp(1rem, 3rem, 4rem);
}

.inner-page__content {
  padding: 0;
  width: 90vw;
  max-width: 1087px;
  overflow: auto;
  min-height: 20px;
}

.inner-page main img,
.inner-page__image {
  width: 100%;
  max-width: 1087px;
  padding: 10px;
}

.home-page__image-1 {
  width: 100%;
  max-width: 1087px;
  padding: 10px 0 10px 10px;
}

.home-page__image-2 {
  width: 100%;
  max-width: 1087px;
  padding: 10px 10px 10px 0;
}

.inner-page__image--small {
  max-width: 50%;
  margin: auto;
  display: flex;
}

.inner-page__collection,
.home-page__collection {
  width: 100%;
  display: flex;
  background-color: #fff;
}

.inner-page__collection-8-image {
  flex: 0 0 12.5%;
  padding: 10px;
  object-fit: contain;
}
.inner-page__collection-image {
  padding: 10px 5px;
  object-fit: cover;
}
.inner-page__collection-image--first {
  padding: 10px 5px 10px 10px;
  object-fit: cover;
}
.inner-page__collection-image--last {
  padding: 10px 10px 10px 5px;
  object-fit: cover;
}

.inner-page__caption {
  margin-top: -0.7em;
}

.inner-page__centered {
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration-color: orange;
  text-decoration-style: solid;
  text-underline-offset: 3px;
}

a:hover {
  text-decoration-style: wavy;
}

.inner-page__link {
  padding-left: 10px;
}

.social-media {
  display: flex;
}

.social-media__link {
  padding: 1rem 2rem;
  text-align: center;
  font-size: 2.5rem;
}

/* not my style name, React Social Media Embed  */
.rsme-embed {
  padding: 10px;
}
/* YouTube - React Social Media Embed  */
.rsme-youtube-embed {
  width: 100%;
}

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media (max-width: 767px) {
  .inner-page__collection-8-image {
    flex: 0 0 50%; /* Display images in pairs, taking up 50% of the width */
  }

  .inner-page__collection {
    flex-wrap: wrap;
  }
}
