/* min-width to fix flex issues */
*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
}

/* nice bg = F1E9DA */
/* old bg = e4e6de */

:root {
  --main-text-color: #363a40;
  --background-color: #e4e6de;
  --link--background-color: #fff;
  --accent-color: #5a6151;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: "Quicksand", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.page {
  font-family: "Quicksand", sans-serif;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.page__content {
  display: flex;
  min-height: 100%;
}

/* Misc.css */

.Misc__spacer {
  margin-top: -0.7em;
}

.Misc__center {
  text-align: center;
  display: flex;
  justify-content: center;
}
